{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}

    <div class="blury h-screen grid content-center relative">
        <div class="top-[20vh] left-[24vw] absolute animate-[bounce_8s_ease-in-out_infinite]"><img class="w-[65px]" style="filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.84));" src="{{ asset("images/star.png") }}" alt=""></div>
        <div class="top-[70vh] left-[8vw] absolute animate-bounce"><img class="w-[20px]" style="filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.84));" src="{{ asset("images/star.png") }}" alt=""></div>
        <div class="top-[80vh] right-[18vw] absolute animate-[bounce_2.4s_ease-in-out_infinite]"><img class="w-[30px]" style="filter: drop-shadow(0px 0px 15px rgba(255,255,255,0.84));" src="{{ asset("images/star.png") }}" alt=""></div>
        <div class="top-[30vh] right-[5vw] absolute animate-[bounce_4s_ease-in-out_infinite]"><img class="w-[40px]" style="filter: drop-shadow(0px 0px 30px rgba(255,255,255));" src="{{ asset("images/star.png") }}" alt=""></div>
            <p class="container mx-auto text-center mb-1 uppercase text-neutral-300 tracking-wide">Simple et Rapide</p>
            <h1 class="text-4xl font-semibold md:text-7xl md:leading-tight container mx-auto text-center">Tranformez nimporte quelle page en un PDF Sublime en quelques cliques</h1>
        <div class="flex justify-center items-center gap-2 mx-auto mt-10">
            <a href="/generate_pdf" class="inline-flex items-center gap-2 rounded-full bg-neutral-900 py-3 px-12 text-sm/6 font-semibold text-white">Générer un pdf</a>
            <a href="/login" class="inline-flex items-center gap-2 rounded-full py-3 px-12 text-sm/6 font-semibold text-white border border-white">Connexion</a>
        </div>
    </div>

    <div class="min-h-screen pb-16">
        <div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-12">
            <div class='max-w-xl mx-auto space-y-3 px-4 sm:text-center sm:px-0 mb-12'>
                <h3 class="text-violet-400 font-semibold">
                    Nos avantages
                </h3>
                <p class="text-white text-3xl font-semibold sm:text-4xl text-center">
                    Pourquoi choisir Sublime.
                </p>
            </div>
            <div class="grid gap-12 row-gap-8 lg:grid-cols-3">
                <div class="flex bg-neutral-800/10 backdrop-blur p-4 rounded-lg">
                    <div class="mr-4">
                        <div class="flex items-center justify-center w-10 h-10 mb-3 rounded-full bg-indigo-50">
                            <svg class="w-8 h-8 text-deep-violet-accent-400" stroke="currentColor" viewBox="0 0 52 52">
                                <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
                            </svg>
                        </div>
                    </div>
                    <div>
                        <h6 class="mb-2 font-semibold leading-5">Rapidité</h6>
                        <p class="text-sm text-neutral-300">
                            Des conversions rapides et efficaces pour que vous puissiez gagner du temps.
                        </p>
                    </div>
                </div>
                <div class="flex bg-neutral-800/10 backdrop-blur p-4 rounded-lg">
                    <div class="mr-4">
                        <div class="flex items-center justify-center w-10 h-10 mb-3 rounded-full bg-indigo-50">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.99 9H15M8.99 9H9m12 3a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM7 13c0 1 .507 2.397 1.494 3.216a5.5 5.5 0 0 0 7.022 0C16.503 15.397 17 14 17 13c0 0-1.99 1-4.995 1S7 13 7 13Z"/>
                            </svg>
                        </div>
                    </div>
                    <div>
                        <h6 class="mb-2 font-semibold leading-5">Accessibilité</h6>
                        <p class="text-sm text-neutral-300">
                            Utilisable sur tous vos appareils, que ce soit sur ordinateur, tablette ou smartphone.
                        </p>
                    </div>
                </div>
                <div class="flex bg-neutral-800/10 backdrop-blur p-4 rounded-lg">
                    <div class="mr-4">
                        <div class="flex items-center justify-center w-10 h-10 mb-3 rounded-full bg-indigo-50">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                            </svg>
                        </div>
                    </div>
                    <div>
                        <h6 class="mb-2 font-semibold leading-5">Service client</h6>
                        <p class="text-sm text-neutral-300">
                            Une équipe de support dédiée pour répondre à toutes vos questions et vous aider en cas de besoin.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
                <div class='max-w-xl mx-auto space-y-3 px-4 sm:text-center sm:px-0 mb-12'>
                    <h3 class="text-violet-400 font-semibold">
                        Utilisation
                    </h3>
                    <p class="text-white text-3xl font-semibold sm:text-4xl text-center">
                        Comment utiliser Sublime. ?
                    </p>
                </div>
                <div class="grid max-w-2xl mx-auto">
                    <div class="flex">
                        <div class="flex flex-col items-center mr-6">
                            <div class="w-px h-10 opacity-0 sm:h-full"></div>
                            <div>
                                <div class="text-white bg-neutral-800/20 backdrop-blur flex items-center justify-center w-8 h-8 text-xs font-medium border border-neutral-500 rounded-full">
                                    1
                                </div>
                            </div>
                            <div class="w-px h-full bg-neutral-500"></div>
                        </div>
                        <div class="flex flex-col pb-6 sm:items-center sm:flex-row sm:pb-0">
                            <div class="sm:mr-5">
                                <div class="flex items-center justify-center w-16 h-16 my-3 rounded-full bg-indigo-50 sm:w-24 sm:h-24">
                                    <svg class="w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                                    </svg>

                                </div>
                            </div>
                            <div class="space-y-2">
                                <p class="text-xl font-semibold sm:text-base">Copiez le liens</p>
                                <p class="text-sm text-neutral-300">
                                   Récupérer le lien de la page que vous souhaitez convertir en PDF. il est préférable de prendre le liens dans le format complet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex flex-col items-center mr-6">
                            <div class="w-px h-10 bg-neutral-500 sm:h-full"></div>
                            <div>
                                <div class="text-white bg-neutral-800/20 flex items-center justify-center w-8 h-8 text-xs font-medium border border-neutral-500 rounded-full">
                                    2
                                </div>
                            </div>
                            <div class="w-px h-full bg-neutral-500"></div>
                        </div>
                        <div class="flex flex-col pb-6 sm:items-center sm:flex-row sm:pb-0">
                            <div class="sm:mr-5">
                                <div class="flex items-center justify-center w-16 h-16 my-3 rounded-full bg-indigo-50 sm:w-24 sm:h-24">
                                    <svg class="w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="space-y-2">
                                <p class="text-xl font-semibold sm:text-base">Choisir un nom</p>
                                <p class="text-sm text-neutral-300">
                                    En en copiant l'url sur la page "générer un pdf" et en lui ajoutant un nom il ne reste plus qu'a cliquer sur générer !
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex flex-col items-center mr-6">
                            <div class="w-px h-10 bg-neutral-500 sm:h-full"></div>
                            <div>
                                <div class="text-white bg-neutral-800/20 flex items-center justify-center w-8 h-8 text-xs font-medium border border-neutral-500 rounded-full">
                                    3
                                </div>
                            </div>
                            <div class="w-px h-full opacity-0"></div>
                        </div>
                        <div class="flex flex-col pb-6 sm:items-center sm:flex-row sm:pb-0">
                            <div class="sm:mr-5">
                                <div class="flex items-center justify-center w-16 h-16 my-3 rounded-full bg-indigo-50 sm:w-24 sm:h-24">
                                    <svg class="w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.872 9.687 20 6.56 17.44 4 4 17.44 6.56 20 16.873 9.687Zm0 0-2.56-2.56M6 7v2m0 0v2m0-2H4m2 0h2m7 7v2m0 0v2m0-2h-2m2 0h2M8 4h.01v.01H8V4Zm2 2h.01v.01H10V6Zm2-2h.01v.01H12V4Zm8 8h.01v.01H20V12Zm-2 2h.01v.01H18V14Zm2 2h.01v.01H20V16Z"/>
                                    </svg>

                                </div>
                            </div>
                            <div class="space-y-2">
                                <p class="text-xl font-semibold sm:text-base">Contempler le résultat✨</p>
                                <p class="text-sm text-neutral-300">
                                    Profitez de votre PDF sublime et partagez le avec vos amis et collègues.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
