{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}

<div class="container mx-auto">
    <div class="mt-48 flex flex-col items-center gap-6">
    <h1 class="text-4xl font-semibold md:text-7xl md:leading-tight container mx-auto text-center">Historique de vos PDF</h1>
    <a href="/generate_pdf" class="inline-flex items-center gap-2 rounded-full bg-neutral-900 py-3 px-12 text-sm/6 font-semibold text-white">Générer d'autres pdf</a>
    </div>
    <ul class="space-y-8 mt-40">
        {% for pdf in pdfs %}
        <ul class="flex gap-4">
            <iframe src="{{ asset(pdf.filePath) }}"
                frameBorder="0"
                scrolling="auto"
                height="100%"
                width="350px"
                    alt="">
            </iframe>
            <div class="space-y-2">
            <p class="text-2xl text-white font-semibold">{{ pdf.title }}</p>
            <p>{{ pdf.createdAt|date("m/d/Y") }}</p>
            </div>
        </ul>
        {% endfor %}
    </ul>
</div>
{% endblock %}
