{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <p>{{user.email}}</p>

    <p>list of pdfs history</p>
    <ul>
        {% for pdf in pdfs %}
            <li>{{ pdf.title }}</li>
            <iframe src="{{ asset(pdf.filePath) }}"     frameBorder="0"
                    scrolling="auto"
                    height="100%"
                    width="100%"alt=""></iframe>
        {% endfor %}
    </ul>
</div>
{% endblock %}
