{# templates/pdf/generate_pdf.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Generate PDF{% endblock %}

{% block body %}
    <h1>result PDF</h1>

    {% if pdfContent is defined %}
        <h1>PDF Content</h1>
        <p>{{ pdfTitle }}</p>
        <iframe src="{{ asset(pdfContent) }}"     frameBorder="0"
                scrolling="auto"
                height="100%"
                width="100%"alt=""></iframe>
    {% endif %}
{% endblock %}